.mainDiv{
    overflow: hidden;
}
.navDiv{
    float:left;
    display: flex;
    padding-bottom: 1000px;
    position: fixed;
    z-index:1;
    top:0;
}
.listDiv{
    width:90%;
    float:right;
    margin:28px;
    z-index:-1;
}
.pages{
    justify-content: center;
}
.card{
    width:300px;
    float:left;
    margin:20px;
}
.btn1{
    float: left;
    width:40%;
    margin:10px;
}
.btn2{
    float: right;
    width:40%;
    margin:10px;

}
.right-button{
    float: right;
}

.card-arrange{
    display: flex;
    flex-wrap: wrap;
 }  